.movies-list {
    display: flex;
    position: relative;
    bottom: 0;
    overflow: scroll;
    justify-content: center;
    flex-direction: row;
    margin-top: 32px;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 0;

}

.spin {
    align-self: center;
}

.error {
    align-self: center;
}
