.movies-list {
    display: flex;
    z-index: 2;
    position: relative;
    bottom: 0;
    overflow: auto;
    justify-content: center;
    /*padding: 0 35px 0 35px;*/
    flex-direction: row;
    margin-top: 32px;
    flex-wrap: wrap;
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

}

.spin {
    align-self: center;
}

.error {
    align-self: center;
}

@media (max-width: 425px) {
    .movies-list {
        padding: 0;
        padding-inline-start: 0;
        row-gap: 10px;
        margin-top: 15px;
    }

}

