.movies-list {
    display: flex;
    overflow: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline-start: 0;
    max-width: 1010px;

}


@media (max-width: 425px) {
    .movies-list {
        padding: 0;
        padding-inline-start: 0;
        row-gap: 10px;
        margin-top: 15px;
    }

}

