ul {
    list-style-type: none;
}

.movies-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    max-width:1010px;
    padding: 20px;
}


.pagination {
    margin-bottom: 15px;
}

@media (max-width: 425px) {
    .main {
        padding: 10px;
    }
    
}
